<html>

<head>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500italic,500,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/canvas.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- draggable items source in read.MD -->
	<link href="css/draganddrop.css" rel="stylesheet">
	<script src="//code.jquery.com/jquery.min.js"></script>
	<script src="js/draganddrop.js"></script>


	<div class="login">
		<div class="rectangle">
			<div class="pfp">
				<img src="{{pfp}}" height="40px"  width="40px">
			</div>
			<!-- <p>{{name}}<br> <a href="/login"><strong>Logout</strong> </a> </p> -->
		</div>
	</div>

	<div class="search">
		<input type="text" class="searchTerm" placeholder="Search...">
		<button type="submit" class="searchButton" onclick="openImg()">
			<i class="fa fa-search"></i>
		</button>
	</div>

	<!-- Navbar -->

	<div class="topnav">
	  <a id="more" href="/home"><i class="fa fa-bars"></i></a>
	  <a id="proj">{{projectName}}</a>
	  <!-- <input type="text" placeholder="Search.." required onclick="openImg()"> -->
	  </div>
	</div>



	<div class="profile-popup" id="profile">
		<form action="/action_page.php" class="form-container">

		  <textarea placeholder="Type message.." name="msg" required></textarea>

		  <button type="submit" class="btn">Send</button>
		  <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
		</form>
	</div>

</head>
<body>
	<div class="all">
<!-- sliders -->

	<div class="slidecontainer">
	  <input type="range" min="1" max="100" value="50" class="slider" id="size">
	</div>

	<div class="slidecontainer">
	  <input type="range" min="1" max="100" value="50" class="slider" id="opacity">
	</div>
	<!-- chatbox -->

	<button class="open-button" onclick="openForm()">Chat</button>

	<div class="chat-popup" id="myForm">
	  <form class="form-container">

	    <textarea placeholder="Type message.." name="msg" required></textarea>

	    <button type="submit" class="btn">Send</button>
	    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
	  </form>
	</div>

	<div class="progress" id="help">
		<a href="#"><i class="fa fa-arrow-left"></i></a>
		<a href="#"><i class="fa fa-arrow-right"></i></a>
	</div>


	<div class="icon-bar">
	  	<div id="pen"><a href="#"><i class="fa fa-pencil" onclick="openCanvas()"></i></a></div>
	  	<a href="#"><i class="fa fa-eraser"></i></a>
	  	<a href="#" onclick="textTool()"><i class="fa fa-text-height"></i></a>
	  	<a href="#"><i class="fa fa-square-o" id="shapes"></i></a>
	  	<a hrerf="#" id="add"><i class="fa fa-plus"></i></a>
	</div>

	<div class="text-sample" id="text-example">
		<p> Successfully used text tool.</p>
	</div>

	<div class="shape-popup" id="square">
	    <img src="img/shape.png">
	</div>

	<div class="WIP">
		<p>Apparel Brainstorming Session</p>
		<div id="items">
			<li>v-neck</li><br>
			<li>crewneck</li><br>
			<li>polo</li><br>
			<li>hoodie</li><br>
		</div>
		<img src="img/c9.jpg">
		<img src="img/100t.jpg">
	</div>

	<div class="img-popup" id="img-search">
	    <img src="img/flyquest.png">
	    <img src="img/sentinels.png">
	</div>

	<div class="active-users">
		<img src="{{pfp}}">
		<img src="img/bokuto-pfp.jpg">
	</div>

</div>

	<canvas id="myCanvas"></canvas>

	
	<script src="js/canvas.js"></script>
	<script scc="js/dragonanddrop.js"></script>

</body>

</html>