<html>
<head>
	<link rel="stylesheet" href="/css/login-style.css">
	<title>Moodyboard: Friends</title>
	
</head>
<body>

<div class="New Project">
	<h3>Friends Screen</h3> 
</div>
<div>
	<a href="/"> Back to home </a>
</div>
</body>
</html>
