<html>
<head>
	<link rel="stylesheet" href="/css/index-style.css">
	<title>Moodyboard: Home</title>
	
</head>
<body>


<div class="login">
	<div class="rectangle">
		<div class="circle"></div>
			<a href="/login"> Logout </a>
	</div>
</div>

<div class="friends">
	<a href="/friends">
	<div class="circle3">
		<div class="circle4"></div>
		<div class="circle2"></div>
	</div>
	</a>
</div>

<div class="jumbotron">
			<h1>Welcome back, <strong>Remcy</strong></h1>
			<p>Here's your most recent project:</p>
</div>


<div class="recentProject">
 		<a href="/canvas">Recent Project</a>
</div>

<div class="projects">
	<div class="square">
		<div class="content">
			<div class="table">
				<div class="table-cell">
					<a href="/canvas">Project Name</a>
				</div>
			</div>
		</div>
	</div>
	<div class="square">
		<div class="content">
			<div class="table">
				<div class="table-cell">
					<a href="/canvas">Project Name</a>
				</div>
			</div>
		</div>
	</div>
	<div class="square">
		<div class="content">
			<div class="table">
				<div class="table-cell">
					<a href="/canvas">Project Name</a>
				</div>
			</div>
		</div>
	</div>
	<div class="square">
		<div class="content">
			<div class="table">
				<div class="table-cell">
					<a href="/canvas">Project Name</a>
				</div>
			</div>
		</div>
	</div>
	<div class="square">
		<div class="content">
			<div class="table">
				<div class="table-cell">
					<a href="/canvas">Project Name</a>
				</div>
			</div>
		</div>
	</div>
	<div class="square">
		<div class="content">
			<div class="table">
				<div class="table-cell">
					<a href="/canvas">Project Name</a>
				</div>
			</div>
		</div>
	</div>
</div>	

<div class="newProject">
 	<a href="/newProject">New Project</a>
</div>
</body>
</html>
