<html>
<head>
	
	<link rel="stylesheet" href="/css/index-style.css">
	
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>

	<title>Moodyboard: Home</title>
	
</head>
<body class="fade-in">


<div class="login">
	<div class="rectangle">
		<div class="pfp">
			<img src="{{pfp}}" height="40px"  width="40px">
		</div>	
		<p id="name">{{name}}<br> <a href="/login"><strong>Logout</strong> </a> </p>
		
	</div>
</div>

<div class="friends">
	<div class="circle3">
		<div class="circle4"></div>
		<div class="circle2"></div>
	</div>
	</a>
</div>

<div class="jumbotron">
			<h1>Welcome back, <strong>{{name}}</strong></h1>
			<p>Here's your most recent project:</p>
</div>


<div class="recentProject">
 		<a href="/canvas">Recent Project</a>
</div>

<div class="projects">
	<div class="square">
		<div class="content">
			<div class="table">
				<div class="table-cell">
					<a href="/canvas">Project Name</a>
				</div>
			</div>
		</div>
	</div>
	<div class="square">
		<div class="content">
			<div class="table">
				<div class="table-cell">
					<a href="/canvas">Project Name</a>
				</div>
			</div>
		</div>
	</div>
	<div class="square">
		<div class="content">
			<div class="table">
				<div class="table-cell">
					<a href="/canvas">Project Name</a>
				</div>
			</div>
		</div>
	</div>
	<div class="square">
		<div class="content">
			<div class="table">
				<div class="table-cell">
					<a href="/canvas">Project Name</a>
				</div>
			</div>
		</div>
	</div>
	<div class="square">
		<div class="content">
			<div class="table">
				<div class="table-cell">
					<a href="/canvas">Project Name</a>
				</div>
			</div>
		</div>
	</div>
	<div class="square">
		<div class="content">
			<div class="table">
				<div class="table-cell">
					<a href="/canvas">Project Name</a>
				</div>
			</div>
		</div>
	</div>
</div>	

<div class="newProject">
 	<a href="/newProject">New Project</a>
</div>

</body>
</html>
