<html>
<head>
	<link rel="stylesheet" href="/css/login-style.css">
	<title>Moodyboard: Login</title>
	
</head>
<body class="fade-in">

<div class="login">
	<div class="login-top">
		<img src="/img/moodyboard.png" width="70%" height="14%">
		<h2 id="second">Please Login Below:</h2>	
		
	</div>
	
	<div class="rectangle">
		<form action="/">
		<div class="inside">
			<input type="text" name="username" placeholder="Username" required>
			<input type="password" name="password" placeholder="Password" required>
			<input type="submit" value="Login">
		</div>
	</div>
	<button class="button"><a href="/" id="back"> <strong>Back to Home</strong> </a></button>
	</form>
	
</div>

	
</div>
</body>
</html>
