<html>
<head>
	<link rel="stylesheet" href="/css/login-style.css">
	<title>Moodyboard: Login</title>
	
</head>
<body>

<div class="loginPage">
	<h3>Enter your Login:</h3> 
</div>
<div>
	<a href="/"> Back to home </a>
</div>
</body>
</html>
