<html>
<head>
	<link rel="stylesheet" href="/css/login-style.css">
	<title>Moodyboard: Login</title>
	{{> facebook}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/facebook.js"></script>
	
</head>
<body class="fade-in">

<div class="login">
	<div class="login-top">
		<img src="/img/moodyboard.png" width="70%" height="14%">
		<h2 id="second">Please Login Below:</h2>	
		
	</div>
	
	<div class="rectangle">
		<form action="/home">
		<div class="inside">
			<input type="text" name="username" placeholder="Username" required>
			<input type="password" name="password" placeholder="Password" required>
			<input type="submit" value="Login">
			      <div class="col">
        	<div class="fb btn">
			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>
			</div>
		</div>
	</div>
	</form>
</div>

	
</div>
</body>
</html>
